
body, html{
    margin: 0%;
}
body{
	font-family: helvetica;
	color: #FFFFFF;
	background-color: #444444;
}

#weather {
	background-color: #222222;
    position: relative;
}

#map {
	background-color: #222222;

	position: relative;
}

#weather > .forecastMoment {
	float: left;
	width: 96px;
	margin: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	background-color: #F7FBFF;
	border-radius: 6px;
	color: #444;
	font-size: 0.8em;
}

.temp {
	font-weight: bold;
	color: #0af;
	font-size: 1.3em;
}

.hidden {
	display: none;
}

@media screen and (max-width: 600px){
    #weather {
        width: 100vw;
        height: 100vh;
        padding: 4px;

    }
    #map {
	width: 100vw;
    height: 90vh;
	padding: 4px;
	position: relative;
    }
}
    
@media screen and (min-width: 600px){
body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    
    #weer {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #map {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0 auto;
	   width: 50vw;
	   height: 100vh;
	   color: #111;
    }

    #weather {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0 auto;
        width: 50vw;
        color: #111;
        padding: 1em;
        align-items: center;
    }
    
    #weather > .forecastMoment {
        width: 15%;

    }   
}
}
    
@media screen and (min-width: 900px){
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }
    
    #weer {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #map {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0 auto;
	   width: 50vw;
	   height: 100vh;
	   color: #111;
    }

    #weather {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0 auto;
        width: 50vw;
        color: #111;
        padding: 1em;
        align-items: center;
    }
    
    #weather > .forecastMoment {
        width: 15%;

    }   
}
